# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/
env/

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store

# Editores
.vscode/
.idea/

# Temporales de Office
~$*.docx
~$*.xlsx
~$*.pptx
